extends layout_about

block content
  h1= title
  //- how do I change which tab is highlighted?
  p This app was built as part of the Olin.js course at Franklin W. Olin College of Engineering. After learning basic skills for the first few weeks, we were assigned a mini project. Mine is a mashup of Google and airbnb. Enjoy!