extends layout_contact

block content
  h1= title
  //- how do I change which tab is highlighted?
  p Hi! I'm Mandy Korpusik, a senior at Olin College majoring in Electrical and Computer Engineering (but secretly computer science).
  p If you think this app is cool, come to Olin College of Engineering!
  p Or you can email me at Mandy.Korpusik@students.olin.edu