extends layout


script(src='/javascripts/links.js')
pagName = 'Home';

block content
  h1= title
  h5 in San Francisco, Boston, Seattle, Chicago, and New York
  form(id="get_pics", action='/pics', method='get')
    input(class="btn btn-large btn-primary", type="submit", value="Go!")