extends layout

block content
  h1= title
  div(id="container")
     div(id="carousel") 
      each img, i in imgs
        a(href="#{img.airbnbLink}")
          img(src="#{img.url}")
    a(class="btn btn-mini btn-primary", id="ui-carousel-prev")(href='#') prev
    a(class="btn btn-mini btn-primary", id="ui-carousel-next")(href='#') next

  script $( "#carousel" ).rcarousel( {width: 150, height: 100, visible:5, step:1, margin:10, auto:{enabled: true}} );